<footer>
  <div class="footer-dark">
    <div class="container">
      <div class="row">
        <div class="col-md-6 item text">
          <h3>ONEE</h3>
          <p>L'Office National de l'Électricité et de l'Eau Potable (ONEE) gère et distribue l'électricité et l'eau potable au Maroc, en modernisant et construisant des infrastructures pour assurer un approvisionnement fiable et répondre aux besoins croissants du pays.</p>
        </div>
        <div class="col-md-6 item">
          <h3>Contact</h3>
          <ul>
            <li><i class="bi bi-geo-alt"></i> Adresse: 20000 Casablanca, Othman ibnou Affan</li>
            <li><i class="bi bi-phone"></i> Téléphone: +212 589 55488 55</li>
            <li><i class="bi bi-envelope"></i> Email: info&copy;onee.ma</li>
          </ul>
        </div>
      </div>
      <p class="copyright">ONEE - BE 2024</p>
    </div>
  </div>
</footer>
