<app-navbar></app-navbar>

<section id="Emploi">
    
    <div class="container" data-aos="fade-up">
      <div class="section-header">
        <h3 class="section-title">Offres d'emploi disponibles</h3>
      </div>
      <div class="row">
        <div class="col-md-6 move-effect">
          <div class="box">
            <div class="icon"><a href="#"><i class="bi bi-briefcase"></i></a></div>
            <h4 class="title"><a href="#">Ingénieur Full Stack .NET / Angular</a></h4>
            <p class="description">Profil recherché:</p>
            <p class="description">Titre du poste : Ingénieur Full Stack .NET / Angular</p>
            <p class="description">Localisation : Othman ibnou affan, Casablanca, Maroc</p>
            <p class="description">Type de contrat : CDI</p>
            <p class="description">Age Min: 23ans - Age Max: 26 ans</p>
            <p class="description">Salaire : 9.000 - 13.000 Dhs</p>
            <p class="description">À propos de nous :</p>
            <p class="description">L'Office National de l'Électricité et de l'Eau Potable - Branche Électricité (ONEE BE) est une entreprise leader dans le secteur de l'énergie au Maroc, fournissant des solutions innovantes et durables pour la production et la distribution d'électricité. Et nous sommes à la recherche d'un Ingénieur Full Stack .NET / Angular talentueux pour rejoindre notre équipe dynamique..</p>
            <button (click)="navigateTo('postuler')" class="btn custom-button">Postuler Maintenant</button>
          </div>
        </div>
        <div class="col-md-6 move-effect">
          <div class="box">
            <div class="icon"><a href="#"><i class="bi bi-briefcase"></i></a></div>
            <h4 class="title"><a href="#">Technicien Spécialisé SAP</a></h4>
            <p class="description">Profil recherché:</p>
            <p class="description">Titre du poste : Technicien Spécialisé SAP</p>
            <p class="description">Localisation : Othman ibnou affan, Casablanca, Maroc</p>
            <p class="description">Type de contrat : CDD</p>
            <p class="description">Age : moins de 30 ans</p>
            <p class="description">Salaire : 6.000 - 7.000 Dhs</p>
            <p class="description">À propos de nous :</p>
            <p class="description">L'Office National de l'Électricité et de l'Eau Potable - Branche Électricité (ONEE BE) est une entreprise leader dans le secteur de l'énergie au Maroc, fournissant des solutions innovantes et durables pour la production et la distribution d'électricité. Nous recherchons un Technicien Spécialisé SAP pour renforcer notre équipe informatique et optimiser notre système SAP.</p>
            <button (click)="navigateTo('postuler')" class="btn custom-button">Postuler Maintenant</button>
        </div>
        </div>
      </div>
    </div>
  </section>
  

  <app-footer></app-footer>