<div class="background-container"></div>

<div id="me">
  <video autoplay muted loop class="video-background">
    <source src="assets/vid3.mp4" type="video/mp4">
  </video> 


  <app-navbar></app-navbar>
  <!-- ======= Header ======= -->
 

  <!-- ======= Hero Section ======= -->
  <section id="hero">
    <div class="hero-container" data-aos="zoom-in" data-aos-delay="100">
      <h1>Recrutement ONEE - BEE</h1>
      <h2>Bienvenue sur notre Plateforme de Recrutement</h2>
      <button (click)="navigateTo('emploi')" class="btn-get-started">Get Started</button>
    </div>
    
    
  </section><!-- End Hero Section -->
</div>

<!-- ======= Footer ======= -->
<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>


<app-footer></app-footer>